    <% layout("/layouts/boilerplate") %>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h2>Create a New Listing</h2>
    <br><br>
    <form method="POST" action="/listings" 
    novalidate class="needs-validation"
     enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" form="form-label">Title</label>
            <input name="listing[title]" placeholder="add a catchy title" type="text" class="form-control"
            required >
            <div class="valid-feedback">
                Title looks good!
            </div>
            
        </div>
        <div class="mb-3">
            <label for="description" form="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required ></textarea>
            <div class="invalid-feedback">
                Please enter a short description 
            </div>
        </div>
    

        <div class="mb-3">
           <label for="image" form="form-label">Upload Image</label>
           <input name="listing[image]" 
            type="file" class="form-control">
            required
       </div>
        
       <div class="row">
        <div class="mb-3 col-4">
            <label for="price" form="form-label">Price</label>  
            <input name="listing[price]" placeholder="1200"  class="form-control" 
            required >
            <div class="invalid-feedback">
                Please should be valid price.
            </div>
        </div>
        <div class="mb-3 col-8">
            <label for="country" form="form-label">Country</label>  
            <input name="listing[country]" placeholder="India" type="text" class="form-control"
            required >
            <div class="invalid-feedback">
               country name should be valid
            </div>
        </div>
       </div>

        <div class="mb-3">
          <label for="location" form="form-label">Location</label>  
          <input name="listing[location]" placeholder="jaipur,ajmer" type="text" class="form-control"
          required >
          <div class="invalid-feedback">
            Location should be valid
        </div>
        </div> 
        <button class="btn add-btn mt-3">Add</button>
    </form>
</div>
</div>